<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Broker" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="loginUsr" value="logintest"/>
    <add key="loginCompany" value="1"/>
    <add key="StockIncre" value="0.2"/>
    <add key="RBIncre" value="1.0"/>
    <add key="HCIncre" value="1.0"/>
    <add key="RUIncre" value="5.0"/>
    <add key="ZNIncre" value="5.0"/>
    <add key="AUIncre" value="0.05"/>
    <add key="AGIncre" value="1.0"/>
    <add key="NIIncre" value="10.0"/>
    <add key="CUIncre" value="10.0"/>
    <add key="PPIncre" value="1.0"/>
    <add key="ALIncre" value="5.0"/>
    <add key="OIIncre" value="2.0"/>
    <add key="Y1Incre" value="2.0"/>
    <add key="Y2Incre" value="2.0"/>
    <add key="10Incre" value="0.0001"/>
	<add key="SCIncre" value="0.1"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
