<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Broker" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="loginUsr" value="033098" />
    <add key="loginCompany" value="0" />
    <add key="StockIncre" value="0.2" />
    <add key="CFIncre" value="5.0" />
    <add key="FGIncre" value="1.0" />
    <add key="ICIncre" value="0.2" />
    <add key="IFIncre" value="0.2" />
    <add key="IHIncre" value="0.2" />
    <add key="JRIncre" value="1.0" />
    <add key="LRIncre" value="1.0" />
    <add key="MAIncre" value="1.0" />
    <add key="OIIncre" value="2.0" />
    <add key="PMIncre" value="1.0" />
    <add key="RIIncre" value="1.0" />
    <add key="RMIncre" value="1.0" />
    <add key="RSIncre" value="1.0" />
    <add key="SFIncre" value="2.0" />
    <add key="SMIncre" value="2.0" />
    <add key="SRIncre" value="1.0" />
    <add key="T1Incre" value="0.005" />
    <add key="TAIncre" value="2.0" />
    <add key="TFIncre" value="0.005" />
    <add key="WHIncre" value="1.0" />
    <add key="ZCIncre" value="0.2" />
    <add key="A1Incre" value="1.0" />
    <add key="AGIncre" value="1.0" />
    <add key="ALIncre" value="5.0" />
    <add key="AUIncre" value="0.05" />
    <add key="B1Incre" value="1.0" />
    <add key="BBIncre" value="0.05" />
    <add key="BUIncre" value="2.0" />
    <add key="C1Incre" value="1.0" />
    <add key="CSIncre" value="1.0" />
    <add key="CUIncre" value="10.0" />
    <add key="FBIncre" value="0.05" />
    <add key="FUIncre" value="1.0" />
    <add key="HCIncre" value="1.0" />
    <add key="I1Incre" value="0.5" />
    <add key="J1Incre" value="0.5" />
    <add key="JDIncre" value="1.0" />
    <add key="JMIncre" value="0.5" />
    <add key="L1Incre" value="5.0" />
    <add key="M1Incre" value="1.0" />
    <add key="NIIncre" value="10.0" />
    <add key="P1Incre" value="2.0" />
    <add key="PBIncre" value="5.0" />
    <add key="PPIncre" value="1.0" />
    <add key="RBIncre" value="1.0" />
    <add key="RUIncre" value="5.0" />
    <add key="SNIncre" value="10.0" />
    <add key="V1Incre" value="5.0" />
    <add key="WRIncre" value="1.0" />
    <add key="Y1Incre" value="2.0" />
    <add key="ZNIncre" value="5.0" />
    <add key="SCIncre" value="0.1" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
